apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "datawave.fullname" . }}-ingest
  labels:
    {{- include "datawave.labels" . | nindent 4 }}
    app.kubernetes.io/component: ingest
spec:
  replicas: {{ .Values.deployment.replicaCount }}
  selector:
    matchLabels:
      app.kubernetes.io/component: ingest
  template:
    metadata:
      labels:
        app.kubernetes.io/component: ingest
    spec:
      hostname: ingestmanager
      initContainers:
      - name: init-hdfs-nn
        image: busybox:1.28
        securityContext:
          runAsUser: 1000
        command: ['sh', '-c', "until nslookup hdfs-nn; do echo waiting for hdfs; sleep 2; done"]
      - name: accumulo-classpath-loader
        securityContext:
          runAsUser: 1000
        image: {{ .Values.image.repository }}:{{ .Values.image.tag }}
        command: ["/bin/bash", "/cmds/run.sh"]
        volumeMounts:
        - name: init-container-cmds
          mountPath: /cmds
          readOnly: true
        - name: hadoop-config
          mountPath: /usr/local/hadoop/conf
        env:
        - name: HADOOP_CLASSPATH
          value: {{ .Values.hadoop.classpath }}
      - name: init-accumulo-manager
        securityContext:
          runAsUser: 1000
        image: busybox:1.28
        command: ['sh', '-c', "until nslookup accumulo-manager; do echo waiting for accumulo; sleep 2; done"]
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      securityContext:
        fsGroup: 1002
        runAsUser: 1002
        runAsNonRoot: true
      containers:
      - name: ingest
        env:
        - name: ADDITIONAL_INGEST_LIBS
          value: {{ .Values.libs }}
        - name: HADOOP_CLASSPATH
          value: {{ .Values.hadoop.classpath }}
        - name: HADOOP_CONF_DIR
          value: /usr/local/hadoop/conf
        image: {{ .Values.image.repository }}:{{ .Values.image.tag }}
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        resources:
          {{- toYaml .Values.deployment.resources | nindent 10 }}
        command: ["/bin/bash", "/cmds/run.sh"]
        volumeMounts:
        - name: accumulo-config
          mountPath: /opt/accumulo/conf
        {{- if (.Values.config.sharedConfig).claim }}
        - name: shared-ingest-config
          mountPath: {{ .Values.config.sharedConfig.path }}
        {{ end }}
        - name: flag-maker-live
          mountPath: /opt/datawave-ingest/current/config/flag-maker-live.xml
          subPath: flag-maker-live.xml
        - name: flag-maker-bulk
          mountPath: /opt/datawave-ingest/current/config/flag-maker-bulk.xml
          subPath: flag-maker-bulk.xml
        - name: ingest-config
          mountPath: /opt/datawave-ingest/current/config/ingest-config.xml
          subPath: ingest-config.xml
        - name: ingest-env
          mountPath: /opt/datawave-ingest/current/bin/ingest/ingest-env.sh
          subPath: ingest-env.sh
        {{ range .Values.config.types }}
        - name: {{ .name }}
          mountPath: /opt/datawave-ingest/current/config/{{ .name }}-ingest-config.xml
          subPath: {{ .name }}-ingest-config.xml
        {{ end }}
        - name: datawave-general-ingest-config
          mountPath: /opt/datawave-ingest/mounted-config/
        - name: genders
          mountPath: /etc/genders
          subPath: genders
        - name: cmds
          mountPath: /cmds
          readOnly: true
        - name: hadoop-config
          mountPath: /usr/local/hadoop/conf
      volumes:
      {{- if (.Values.config.sharedConfig).claim }}
      - name: shared-ingest-config
        persistentVolumeClaim:
          claimName: {{ .Values.config.sharedConfig.claim }}
      {{ end }}
      - name: datawave-general-ingest-config
        configMap:
          name: datawave-general-ingest-config
          defaultMode: 0775
      {{ range .Values.config.types }}
      - name: {{ .name }}
        configMap:
          name: "{{ $.Chart.Name }}-data-types-configmap"
          defaultMode: 0775
      {{ end }}
      - name: ingest-env
        configMap:
          name: "{{ .Chart.Name }}-ingest-env-configmap"
          defaultMode: 0775
      - name: flag-maker-live
        configMap:
          name: "{{ .Chart.Name }}-flag-maker-configmap"
          defaultMode: 0775
      - name: flag-maker-bulk
        configMap:
          name: "{{ .Chart.Name }}-flag-maker-configmap"
          defaultMode: 0775
      - name: ingest-config
        configMap:
          name: "{{ .Chart.Name }}-ingest-config-configmap"
          defaultMode: 0775
      - name: genders
        configMap:
          name: "{{ .Chart.Name }}-genders"
      - name: hadoop-config
        configMap:
          name: {{ .Values.global.hadoopConfigMap }}
      - name: accumulo-config
        configMap:
          name: {{ .Values.global.accumuloConfigMap }}
      - name: cmds
        secret:
          secretName: {{ include "datawave.fullname" . }}-cmds
          optional: false
      - name: init-container-cmds
        secret:
          secretName: {{ include "datawave.fullname" . }}-initcontainer-cmds
          optional: false
      {{- with .Values.deployment.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.deployment.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.deployment.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.global.pullSecrets }}
      imagePullSecrets:
      {{- range . }}
      - name: {{ . }}
      {{- end }}
      {{- end }}
