####################################
# Core Helm Template Configuration #
####################################

apiVersion: apps/v1
kind: Deployment

######################################
# Basic Metadata for this Deployment #
######################################

metadata:
  name: "{{ .Chart.Name }}-{{ .Values.web.datawaveDeployment.meta.name }}"
  labels:
    application: "{{ .Chart.Name }}-{{ .Values.web.datawaveDeployment.meta.name }}"

#####################################
# Complete Deployment Specification #
#####################################

spec:

  ######################################
  # Replication / Update Configuration #
  ######################################

  replicas: {{ .Values.web.datawaveDeployment.replication.replicaCount }}
  revisionHistoryLimit: {{ .Values.web.datawaveDeployment.replication.revisionHistoryLimit }}
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: {{ .Values.web.datawaveDeployment.replication.maxSurge }}
      maxUnavailable: {{ .Values.web.datawaveDeployment.replication.maxUnavailable }}

  ###################################
  # Resource Selector Configuration #
  ###################################

  selector:
    matchLabels:
      application: "{{ .Chart.Name }}-{{ .Values.web.datawaveDeployment.meta.name }}"
  
  #####################################
  # Deployment Template Configuration #
  #####################################

  template:

    ##################################################
    # Basic Metadata for this Deployment's Resources #
    ##################################################

    metadata:
      labels:
        application: "{{ .Chart.Name }}-{{ .Values.web.datawaveDeployment.meta.name }}"

    #######################################
    # Deployment Resources Specifications #
    #######################################

    spec:
      {{- with .Values.web.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.web.pullSecrets }}
      imagePullSecrets:
      {{- range . }}
      - name: {{ . }}
      {{- end }}
      {{- end }}
      restartPolicy: "{{ .Values.web.datawaveDeployment.restartPolicy }}"

      ##############################################
      # Containers Associated with this Deployment #
      ##############################################
      securityContext:
        runAsUser: 999
      initContainers:
        - name: init-authorization
          securityContext:
            runAsUser: 1000
          image: busybox:1.28
          command: ['sh', '-c', "until nslookup dwv-web-authorization; do echo waiting for auth service; sleep 2; done"]
      containers:

        - name: "{{ .Chart.Name }}-{{ .Values.web.datawaveDeployment.meta.name }}"
          image: "{{ .Values.web.dockerRegistry.url }}/{{ .Values.web.datawaveDeployment.image.name }}:{{ .Values.web.datawaveDeployment.image.tag }}"
          imagePullPolicy: "{{ .Values.web.datawaveDeployment.image.pullPolicy }}"
          livenessProbe:
            httpGet:
              path: "{{ .Values.web.datawaveDeployment.livenessProbe.uri }}"
              port: {{ .Values.web.datawaveDeployment.livenessProbe.port }}
              scheme: "{{ .Values.web.datawaveDeployment.livenessProbe.scheme }}"
            initialDelaySeconds: {{ .Values.web.datawaveDeployment.livenessProbe.delaySeconds }}
            periodSeconds: {{ .Values.web.datawaveDeployment.livenessProbe.periodSeconds }}
          readinessProbe:
            httpGet:
              path: "{{ .Values.web.datawaveDeployment.readinessProbe.uri }}"
              port: {{ .Values.web.datawaveDeployment.readinessProbe.port }}
              scheme: "{{ .Values.web.datawaveDeployment.readinessProbe.scheme }}"
            initialDelaySeconds: {{ .Values.web.datawaveDeployment.readinessProbe.delaySeconds }}
            periodSeconds: {{ .Values.web.datawaveDeployment.readinessProbe.periodSeconds }}
          ports:
            - containerPort: 8443
          resources: {}
          env:
            - name: ACCUMULO_PASSWORD
              value: {{ .Values.web.accumulo.password }} 
            - name: HADOOP_CLASSPATH
              value: {{ .Values.web.hadoop.classpath }}
            - name: KEYSTORE
              value: {{ .Values.web.volumes.certificates.destination }}/keystore.p12
            - name: KEYSTORE_TYPE
              value: PKCS12
            - name: KEYSTORE_PASSWORD
              value: {{ .Values.web.certificates.keystorePassword }} 
            - name: TRUSTSTORE
              value: {{ .Values.web.volumes.certificates.destination }}/truststore.jks
            - name: TRUSTSTORE_TYPE
              value: JKS
            - name: TRUSTSTORE_PASSWORD
              value: {{ .Values.web.certificates.truststorePassword }} 
            - name: JAVA_OPTS
              value: {{ .Values.web.java.options }}{{if .Values.web.java.debug.enabled}} {{.Values.web.java.debug.options}} {{- end }}
             
          volumeMounts:
            - name: "{{ .Chart.Name }}-{{ .Values.web.volumes.certificates.name }}"
              mountPath: "{{ .Values.web.volumes.certificates.destination }}"
              readOnly: true
            - name: hadoop-config
              mountPath: /etc/hadoop/conf
            - name: "{{ .Chart.Name }}-web-runtime-config"
              mountPath: /opt/jboss/wildfly/runtime-config.cli
              subPath: runtime-config.cli

      ###########################################
      # Volumes Associated with this Deployment #
      ###########################################

      volumes:
        - name: "{{ .Chart.Name }}-{{ .Values.web.volumes.certificates.name }}"
          secret:
            {{ if not .Values.web.certificates.externalSecret.enabled }}
            secretName: "{{ .Chart.Name }}-{{ .Values.web.certificatesSecret.meta.name }}"
            {{ else }}
            secretName: {{ .Values.web.certificates.exernalSecret.name }}
            {{ end }}
            optional: false
        - name: hadoop-config
          configMap:
            name: "{{ .Values.web.volumes.hadoop.configMapName }}"
        - name: "{{ .Chart.Name }}-web-runtime-config"
          configMap:
            name: "{{ .Chart.Name }}-web-runtime-config"

