###########################################
# Ignores All File or Path Related to Git #
###########################################

.git

#####################################
# Ignores All Development Resources #
#####################################

development/
setup.sh

############################
# Ignores package Archives #
############################
dwv-query-*.tgz
