clusters:
  - name: mysql-cluster
    secretName: mysql-secret
    tlsUseSelfSigned: true
    instances: 3
    router:
      instances: 1
    databaseUsers:
    - name: datawave
      secretName: mysql-secret
      secretKeyRef: rootPassword
    # Optional init script content. If specified, this will be used directly.
    initScript: |
      create database example;
      use example;
      GRANT ALL PRIVILEGES ON example TO 'datawave'@'%' WITH GRANT OPTION;