
############################################
# Default Values for Generic MySql Config  #
############################################
mysql:
  configMap:
    name: mysql-init-config
    init:
    - name: init-db
      fileName: init-db.sql
      fileContents: |-
        create database example;
        use example;
        GRANT ALL PRIVILEGES ON example TO 'datawave'@'%' WITH GRANT OPTION;
  user: datawave

##################################
# Default Values for Deployment  #
##################################
mysqlDeployment:
  image:
    name: mysql
    pullPolicy: IfNotPresent
    tag: 8.0.32
  meta:
    name: mysql
  replication:
    maxSurge: 1
    maxUnavailable: 0
    replicaCount: 1
    revisionHistoryLimit: 10
  restartPolicy: Always
  livenessProbe:
    enabled: true
    initialDelaySeconds: 120
    timeoutSeconds: 20
    periodSeconds: 30
    failureThreshold: 6
    successThreshold: 1
  readinessProbe:
    enabled: true
    initialDelaySeconds: 10
    timeoutSeconds: 20
    periodSeconds: 30
    failureThreshold: 3
    successThreshold: 1
  
##############################
# Default Values for Service #
###############################
mysqlService:
  meta:
    name: mysql
  ports:
    mysql: 3306
